body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Marco-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
#_idContainer000 {
	height:100.00%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer001 {
	height:25.09%;
	left:1.67%;
	position:absolute;
	top:17.07%;
	width:21.34%;
	z-index:1;
}
#_idContainer002 {
	height:20.70%;
	left:1.67%;
	position:absolute;
	top:48.75%;
	width:21.34%;
	z-index:4;
}
#_idContainer003 {
	height:20.38%;
	left:1.67%;
	position:absolute;
	top:76.03%;
	width:21.34%;
	z-index:6;
}
#_idContainer004 {
	height:25.09%;
	left:26.72%;
	position:absolute;
	top:17.07%;
	width:21.34%;
	z-index:2;
}
#_idContainer005 {
	height:20.70%;
	left:26.72%;
	position:absolute;
	top:48.75%;
	width:21.34%;
	z-index:3;
}
#_idContainer006 {
	height:20.38%;
	left:26.72%;
	position:absolute;
	top:76.03%;
	width:21.34%;
	z-index:5;
}
#_idContainer007 {
	height:25.09%;
	left:51.76%;
	position:absolute;
	top:17.07%;
	width:18.52%;
	z-index:7;
}
#_idContainer008 {
	height:20.70%;
	left:51.76%;
	position:absolute;
	top:48.75%;
	width:18.52%;
	z-index:8;
}
#_idContainer009 {
	height:20.38%;
	left:51.76%;
	position:absolute;
	top:76.03%;
	width:18.52%;
	z-index:9;
}
#_idContainer010 {
	height:25.09%;
	left:74.17%;
	position:absolute;
	top:17.07%;
	width:23.81%;
	z-index:10;
}
#_idContainer011 {
	height:20.70%;
	left:74.17%;
	position:absolute;
	top:48.75%;
	width:23.81%;
	z-index:11;
}
#_idContainer012 {
	height:20.38%;
	left:74.17%;
	position:absolute;
	top:76.03%;
	width:23.81%;
	z-index:12;
}
#_idContainer013 {
	display:inline-block;
	padding:56.24% 0% 0% 0%;
	position:relative;
	width:99.99%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
